@import url('https://fonts.googleapis.com/css?family=Chicle|Raleway:200,300,400,500,600,700');

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
}

/*--------------------------- Navigation  -----*/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: -30px;
    border: none;
}

.navbar-inverse {
    background-color: #211C16;
    background-image: linear-gradient(#211C16, #3C352D);
}

.navbar-inverse .navbar-brand {
    font-family: chicle;
    font-size: 2.9em;
}

.navbar-inverse .navbar-brand {
    color: #E5D5B7;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #F1E9D8;
}

ul.nav.navbar-nav {
    border-bottom: 5px solid #90332E;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #E5D5B7;
    background-color: #90332E;
}

.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #90332E;
    color: #F1E9D8
}

.navbar-inverse .navbar-nav>li>a {
    padding: 18px 20px 18px 20px;
    color: #D97E33;
    text-transform: uppercase;
    font-weight: 800;
}

/*--------------------------- Hero area -----*/

.hero {
    background-color: #D97E33;
    line-height: 40px;
    text-transform: uppercase;
    font-family: chicle;
    padding: 5px 5px 5px 25px;
    font-size: 1.6em;
    display: block;
}

.jumbotron h1 {
    font-size: 2em;
}

.jumbotron p {
    font-size: 1em;
}

.jumbotron {
    padding-bottom: 0px;
    color: white;
    background-color: transparent;
}

.header-image {
    background-image: url("/assets/images/monkees-header.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    background-color: rgba(41, 36, 29, 0.9);
    margin: 200px 15px 20px 15px;
    width: 97%;
}

.box {
    height: 220px;
    background-color: rgba(41, 36, 29, 0.76);
    margin-top: 10px;
}

.box.reminisce {
    background-image: url("/assets/images/history-hero.jpg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.event-list {
    padding: 10px;
    list-style: none;
    text-align: center;
}

.hero-container {
    padding: 20px;
}

p.hero-title {
    font-family: chicle;
    font-size: 2em;
}

.hero-top {
    display: block;
}

.hero-location {
    display: block;
}

.hero-cor {
    height: 40px;
    width: 40px;
    background-color: #90332e;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.fas.fa-caret-right {
    font-size: 3em;
    color: #fff;
    padding-left: 15px;
}

/*--------------------------- Albums section -----*/

.albums-row {
    background-color: #2E2928;
    margin-top: 0;
    position: relative;
    padding-bottom: 50px;
}

h2.albums {
    font-family: chicle;
    color: #E5D5B7;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2.albums:before,
h2.albums:after {
    position: absolute;
    top: 46px;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #e5d5b7;
}

h2.albums:before {
    margin-left: -50%;
    text-align: right;
}

.product-list {
    padding: 10px 10px 0 10px;
    background-color: #E5D5B7;
    margin: 10px;
}

.product-list .img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.product-list>h3 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8em;
    text-align: center;
    color: #201B15;
    height: 30px;
}

.product-list>span {
    text-align: center;
    font-size: 1.5em;
    display: block;
    font-weight: 700;
    font-family: sans-serif;
}

/*--------------------------- Book Us section -----*/

.book-section {
    background-color: #D97E33;
}

h2.book-heading {
    font-family: chicle;
    color: #e5d5b7;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2.book-heading:before,
h2.book-heading:after {
    position: absolute;
    top: 46px;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #e5d5b7;
}

h2.book-heading:before {
    margin-left: -50%;
    text-align: right;
}

blockquote {
    font-size: 15px;
    background-color: #e5d5b7;
    border-left: 5px solid #c26932;
}

p.book {
    font-size: 15px;
}

.book>a {
    color: #e5d5b7;
    font-weight: 700;
}

.btn.btn-book {
    background-color: #c26932;
    color: #e5d5b7;
    border-radius: 30px;
    font-weight: 700;
}

.book-btn-container {
    text-align: center;
}

/*--------------------------- Footer -----*/

.footer {
    background-color: #1E1B1A;
    color: #E5D5B7;

}

.top-footer {
    border-top: 10px solid #E5D5B7;
}

.top-footer li {
    display: inline-block;
    padding: 10px;
}

.social {
    height: 100px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.fab {
    font-size: 3em;
    color: #E5D5B7;
}

.social-box {
    float: left;
    width: 100px;
}

.social-icons {
    display: block;
}

a.social-links {
    color: #E5D5B7;
    font-size: 0.7em;

}

ul.link-list {
    list-style: none;
    width: 100%;
    padding: 0;
    text-transform: uppercase;

}

.link-list>li {
    display: inline;
    padding: 5px 10px 15px 10px;
    font-weight: 600;
}

.link-list li a {
    color: #E5D5B7;
}

.links {
    text-align: center;
}

a.fab.fa-facebook-square.social-icons:hover {
    color: #3b5998;
}

a.fab.fa-twitter-square.social-icons:hover {
    color: #00aced;
}

a.fab.fa-youtube-square.social-icons:hover {
    color: #ff0000;
}

.bottom-footer {
    text-align: center;
    font-size: 0.6em;
    margin-top: 10px;
}





/*--------------------------- Listen Page -----*/

.listen-image {
    background-image: url("/assets/images/listen-header.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        text-align: center;
}

.listen-h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
}

.table.table-bordered {
    background-color: rgba(0, 0, 0, 0.7);
}

.static-page {
    background-color: #E5D5B7;
}

.static-container.container {
    padding: 0 20px 0 20px;
        text-align: center;
}

video {
    border: 5px solid #d97e32;
    border-radius: 10px;
        max-width: 800px;
}

.row.listen-row {
    background-color: #d97e32;
    padding-top: 30px;
    padding-bottom: 30px;
}

.audio-showcase>p {
    font-size: 0.9em;
    font-weight: 600;
    color: #1e1b1a;
    padding-bottom: 10px;
}
.audio-showcase span {
    font-size: 1em;
    color: rgba(0, 0, 0, 1);
    font-style: italic;
        font-weight: 200;
}


/*--------------------------- Listen Page -----*/

.contact-image {
    background-image: url("/assets/images/contact-header.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        text-align: center;
}

.contact-form {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #d97e33;
        margin-top: 20px;
    margin-bottom: 50px;
}

.btn-contact {
    background-color: #90332e;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-contact:hover {
    background-color: #E5D5B7;
    text-transform: uppercase;
    font-weight: 700;
}


/*--------------------------- Event Page -----*/


.event-image {
    background-image: url("/assets/images/events-header.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        text-align: center;
}





.book-us {
    background-color: #e5d5b736;
}

.book-us blockquote {
    height: 200px;
    font-size: 18px;
}

.book-us h2 {
    font-family: chicle;
    color: #e5d5b7;
    font-size: 2.5em;
    background-color: #d77a30;
    margin-top: 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 0px;
}

.event-list-lg {
    background-color: rgba(39, 33, 27, 0.6);
}
    
    

.event-list-lg h2 {
    font-family: chicle;
    color: #e5d5b7;
    font-size: 2.5em;
    background-color: #d77a30;
    margin-top: 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 0px;
}

ul.event-listing {
    line-height: 3em;
    list-style: none;
    font-size: 1.2em;
    font-weight: 600;
        padding: 0;
}
/*--------------------------- About Page -----*/










/*--------------------------- Media Queries -----*/

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .navbar-brand {
        padding: 20px 20px;
    }
    
    .book-us blockquote {
    font-size: 10px;
}

p.book {
    font-size: 12px;
}
    
    
    
    
    
}

@media (min-width: 992px) {
    
    .book-us blockquote {
    font-size: 13px;
}
p.book {
    font-size: 14px;
}
}

@media (min-width: 1200px) {
    .navbar-brand {
        padding-left: 200px;
        padding-right: 100px;
    }
}

